#order-data {
  font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;
  margin: 0;

  --column-height: 800px;

  .fade-appear,
  .fade-enter {
    opacity: 0;
    transform: scale(0.97);
  }

  .fade-appear-active,
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in, transform 250ms ease-in-out;
  }

  .modal-content {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    outline: none;
    padding: 20px;
    position: absolute;
    bottom: auto;
    left: 50%;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-overflow-scrolling: touch;
    z-index: 11;
  }

  .loading-spinner {
    &-inline {
      display: inline;
    }

    &-container {
      align-items: center;
      height: 100%;
      width: 100%;
    }

    &-container,
    &-next-page {
      display: flex;
      justify-content: center;
    }
  }

  #everest-container {
    position: relative;
  }

  #columns {
    clear: both;
    height: var(--column-height);

    #left-side {
      border: none;
      padding-right: 35px;
    }

    #right-side {
      padding-left: 35px;
      padding-right: 1em;
      overflow-x: hidden;
    }
  }

  #collection-list .dropdown {
    margin: 0.5em 0 70px;
    width: 100%;
  }

  .order-limit-message {
    background-color: yellow;
    padding: 8px;
    margin-top: 12px;
    color: black;
    text-align: center;
  }

  h3 {
    font-size: 100%;
    margin: 0.5em 0;
    color: #474747;
  }

  .buttonReset { /* stylelint-disable-line selector-class-pattern */
    cursor: pointer;
    background-color: inherit;
    border-style: none;
    margin-left: 1em;
    padding: 0 4px 3px;
    vertical-align: middle;
    color: #555;

    &:disabled {
      color: lightgray;
      pointer-events: none;
    }

    &:hover {
      color: #48b;
      box-shadow: 0 0 8px #fff;
    }

    &:focus {
      outline-width: 0;
    }

    &:active {
      color: #adf;
      box-shadow: 0 0 8px #fff;
    }
  }

  div.react-datepicker-wrapper {
    margin: 0 0 0 0.5em;

    input {
      margin: 0;
      padding: 2px 0;
      width: 7em;
      text-align: center;
      border-style: solid;
      border-width: 1px;
      border-color: darkgray;
      border-radius: 4px;
    }

    input.error {
      border-color: red;
      outline-color: red;
    }

    > div {
      width: auto;
    }
  }

  div.react-datepicker-popper {
    z-index: 10;
  }

  #temporal-selection {
    margin: 0;
    padding: 0;

    h3 {
      display: inline;
    }

    > div {
      display: inline;
    }

    label.from {
      margin-left: 1em;
    }

    label.to {
      margin-left: 1.5em;
    }

    #to {
      margin-right: 0;
    }

    div.timeError { /* stylelint-disable-line selector-class-pattern */
      position: relative;
      z-index: 100;
      width: 0;
      height: 0;
    }

    label.timeError { /* stylelint-disable-line selector-class-pattern */
      display: inline-block;
      width: 210px;
      text-align: center;
      position: absolute;
      color: white;
      background-color: red;
      opacity: 0.8;
      border-radius: 4px;
      padding: 4px;
      font-size: 80%;
      left: calc(-100% - 1em);
      margin-right: calc(-100% - 1em);
    }
  }

  #boundingbox {
    margin-top: 3px;

    h3 {
      display: inline;
    }

    > div {
      display: inline;
    }

    label {
      margin-left: 0.75em;
    }

    label.disabled {
      color: lightgray;
    }

    .bbox {
      width: 50px;
      margin: 2px 2px 0;
      padding: 2px 5px;
      border-style: solid;
      border-width: 1px;
      border-color: darkgray;
      border-radius: 4px;

      &:disabled {
        color: lightgray;
        border-color: lightgray;
      }
    }
  }

  #spatial-selection:first-child {
    border: 2px solid;
    margin: 0;
    padding: 0;
  }

  .note {
    font-style: italic;
    font-size: 80%;
  }

  .helpHeader { /* stylelint-disable-line selector-class-pattern */
    line-height: 1.2em;
    margin-bottom: 0;
  }

  .cancel-button,
  .handoff-button,
  .script-button,
  .submit-button {
    margin: 0.5em 0.8em;
    width: 12em;

    &:focus {
      outline-color: cornflowerblue;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 5px;
    }

    &:disabled {
      background: silver;
    }
  }

  #toolbar {
    position: absolute;
    right: 0;
    margin: 5px;
    height: auto;
    line-height: 1em;
    z-index: 2;

    img {
      padding: inherit;
      background: inherit;
      border: none;
      margin: auto;
      margin-top: 2px;
      display: block;

      &:hover {
        border-color: inherit;
        box-shadow: none;
      }
    }

    .tooltip.button img {
      padding: 3px;
    }
  }

  .granule-count-container {
    color: #474747;
    display: inline;
    font-weight: bold;
  }

  #granule-list-header {
    display: flex;
    align-items: center;

    #granule-list-count-header {
      color: #474747;
      padding: 0;
      flex-grow: 1;
      margin-bottom: -0.5em;
      line-height: 1em;
    }

    #granule-list-input {
      width: 200px;
      font-size: 90%;
      margin: 2px 0 5px 2px;
      padding: 2px 5px;
      border-style: solid;
      border-width: 1px;
      border-color: darkgray;
      border-radius: 4px;

      &::placeholder {
        font-style: italic;
      }

      &:disabled {
        color: lightgray;
        border-color: lightgray;

        &::placeholder {
          color: lightgray;
        }
      }
    }
  }

  #granule-list-container {
    height: calc(var(--column-height) - 150px);
    overflow-x: auto;
    overflow-y: scroll;
    width: 100%;
    border: 1px solid #999;

    #granule-table {
      overflow-y: scroll;
      display: table;
      border-collapse: collapse;
      table-layout: auto;
      padding: 0;
      font-size: 95%;
      width: 100%;

      .granule-id-col {
        width: 47%;
      }

      .size-col {
        width: 13%;
        text-align: center;
      }

      .start-time-col {
        width: 20%;
      }

      .end-time-col {
        width: 20%;
      }

      td,
      th {
        border: 1px solid #999;
        border-left-style: none;
        padding: 0.5rem;
        text-align: left;
        word-break: break-all;
      }

      th {
        color: white;
        cursor: pointer;
        position: sticky;
        top: 0;
        padding: 0.5rem 0 0.5rem 0.5rem;
        z-index: 9;
        border-top: 2px;
        background: #7ab5da; /* EUI Sky Blue */
      }

      tr {
        &:nth-child(odd) {
          background: #ebebeb; /* EUI Light Gray */
        }

        &:hover {
          background: #b5cede; /* EUI Medium Blue */
        }
      }
    }
  }

  /* Should we be adding to this toolbar? */
  .cesium-viewer-toolbar {
    height: 5em;
    width: 5em;
  }

  /* Get rid of annoying white gap at bottom of canvas */
  #globe {
    position: relative;

    #credit {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
    }

    .cesium-widget {
      height: 600px;
    }

    .cesium-viewer-bottom {
      padding: 0.5em;
    }

    .cesium-credit-logoContainer * { /* stylelint-disable-line selector-class-pattern */
      display: none;
    }

    input {
      position: absolute;
      left: 0;
      width: 120px;
      margin: 5px;
      height: auto;
      padding: 3px;
      line-height: 1em;
      font-size: 90%;
      z-index: 2;
      border-width: 1px;
      border-radius: 4px;
      background-color: white;
      border-color: chartreuse;

      &:focus {
        outline-color: chartreuse;
      }

      &:disabled {
        background-color: lightgray;
        border-color: black;
      }
    }
  }

  &-profile {
    #everest-profile-container {
      align-content: baseline;
      align-items: baseline;
      display: flex;
      flex-flow: column wrap;
      position: relative;

      &.in-drupal {
        bottom: 64px;
      }
    }

    .earthdata-login {
      align-self: end;
      order: 0;
      margin-bottom: 22px;
    }

    #order-list-wrapper {
      order: 1;
      width: 100%;
    }

    #order-list {
      max-height: 400px;
      overflow-y: scroll;
      margin-bottom: 10px;
      border-bottom: 1px solid;

      #order-table {
        overflow-y: scroll;
        display: table;
        border-collapse: collapse;
        table-layout: auto;
        padding: 0;
        width: 100%;

        .order-list-item {
          padding: 5px;
          cursor: pointer;

          &:hover {
            background-color: #f0f0f0;
          }

          &:active {
            background-color: silver;
          }
        }

        .order-list-item-selected {
          background-color: silver;

          &:hover {
            background-color: silver;
          }
        }

        .order-list-item-expired {
          color: gray;
        }

        .order-list-header {
          text-align: left;
          color: white;
          cursor: pointer;
          position: sticky;
          position: -webkit-sticky; /* stylelint-disable-line value-no-vendor-prefix */
          top: 0;
          padding: 0.5rem 0 0.5rem 0.5rem;
          z-index: 9;
          border-top: 2px;
          background: #7ab5da; /* EUI Sky Blue */
        }

        .order-list-right {
          text-align: right;
        }
      }
    }

    .order-success {
      color: green;
    }

    .order-warning {
      color: gold;
    }

    .order-error {
      color: red;
    }

    #order-details {
      overflow-wrap: break-word;
      word-break: break-all;
      min-height: 500px;
      width: 100%;
    }
  }

  &,
  &-profile {
    .sortColumn { /* stylelint-disable-line selector-class-pattern */
      .sort-icon-stack {
        font-size: 1.5em;
        padding-top: -0.25em;
        padding-bottom: -0.25em;
        height: 1em;
        width: 1em;
        margin-left: 0.25em;
        vertical-align: middle;
        margin-bottom: 2px;
      }

      .sort-icon {
        opacity: 0.25;
      }

      .sort-active {
        opacity: 1;
      }

      &:hover .sort-icon {
        opacity: 1;
      }
    }
  }

  .cursor-crosshair {
    cursor: crosshair;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  #version {
    font-size: 60%;
    padding: 0.5em 0;

    img#cesium {
      display: inherit;
      padding: 0;
      background: inherit;
      width: 59px;
      height: 15px;
      vertical-align: middle;
    }

    span {
      float: right;
    }
  }

  #cmr-status {
    background: red;
    color: white;
    position: absolute;
    width: calc(100% - 2em);
    padding: 1em;
    z-index: 1001;
  }

  #cmr-status-close {
    cursor: pointer;
    float: right;
  }

  #cmr-status-msg {
    position: absolute;
    width: calc(100% - 4em);
    top: 50%;
    transform: translateY(-50%);
  }

  #cmr-status-blocked {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1000;
  }

  #order-buttons {
    padding-right: 2px;
    text-align: right;
    padding-top: 6px;
    margin-right: -12px;

    .inline {
      display: inline;
    }

    div.tooltip {
      display: inline-block;
      position: relative;
      text-align: left;

      .reactTooltip { /* stylelint-disable-line selector-class-pattern */
        width: 160px;
        font-size: 100%;
        line-height: 24px;
      }

      .must-be-logged-in {
        color: #f57e20;
        font-weight: bolder;
      }
    }
  }

  .toolbarButton { /* stylelint-disable-line selector-class-pattern */
    color: white;
    border-color: inherit;
    border-style: none;
    background-color: inherit;
    font-size: 14pt;
    padding: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:disabled {
      color: darkgray;
      cursor: default;
    }
  }

  .toolbarButtonDisabled { /* stylelint-disable-line selector-class-pattern */
    background: #303336;
    border-color: #444;
    box-shadow: none;
    color: #edffff;
    cursor: default;
    fill: #edffff;
  }

  #importPolygonInput { /* stylelint-disable-line selector-id-pattern */
    display: none;
  }

  /* stylelint-disable selector-class-pattern */
  /* stylelint-disable property-no-vendor-prefix */
  .Resizer {
    background: #000;
    opacity: 0.1;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }

  .Resizer:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgb(255 255 255 / 0%);
    border-bottom: 5px solid rgb(255 255 255 / 0%);
    cursor: row-resize;
    width: 100%;
  }

  .Resizer.horizontal:hover {
    border-top: 5px solid rgb(0 0 0 / 50%);
    border-bottom: 5px solid rgb(0 0 0 / 50%);
  }

  .Resizer.vertical {
    width: 5px;
    height: 60px;
    background: #fff;
    margin-top: calc((var(--column-height) - 30px) / 2);
    margin-left: 0;
    opacity: 0.5;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: col-resize;
    flex-shrink: 0;
  }

  .Resizer.vertical:hover {
    opacity: 1;
  }

  .Resizer.disabled {
    cursor: not-allowed;
  }

  .Resizer.disabled:hover {
    border-color: transparent;
  }
  /* stylelint-enable selector-class-pattern */
  /* stylelint-enable property-no-vendor-prefix */

  .earthdata-login {
    float: right;

    button {
      z-index: 1002;
    }

    ul.button-group--dropdown { /* stylelint-disable-line selector-class-pattern */
      z-index: 1002;
    }

    #logout-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .in-drupal {
    .earthdata-login {
      right: 217px;
    }
  }
}

.modal-button {
    margin-left: 0.5em;
}
