#everest-ui {
  font-family: 'Open Sans', Segoe UI, Arial, Helvetica, sans-serif;
  margin: 0;

  .fade-appear,
  .fade-enter {
    opacity: 0;
    transform: scale(0.97);
  }

  .fade-appear-active,
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in, transform 250ms ease-in-out;
  }

  .modal-content {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    outline: none;
    padding: 20px;
    position: absolute;
    bottom: auto;
    left: 50%;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-overflow-scrolling: touch;
  }

  .loading-spinner {
    &-inline {
      display: inline;
    }

    &-container {
      align-items: center;
      height: 100%;
      width: 100%;
    }

    &-container,
    &-next-page {
      display: flex;
      justify-content: center;
    }
  }

  #everest-container {
    position: relative;
  }

  #columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    #left-side {
      grid-column: 1;
      border: none;
      padding: 0;
    }

    #right-side {
      grid-column: 2;
      overflow-x: hidden;
      padding: 0 0 0 1em;
    }
  }

  #collection-list .dropdown {
    margin: 0.5em 0;
    width: 100%;
  }

  .order-limit-message {
    background-color: red;
    padding: 8px;
    margin-top: 12px;
    color: white;
  }

  h3 {
    font-size: 100%;
    margin: 0.5em 0;
    color: #474747;
  }

  #temporal-selection {
    margin: 0;
    padding: 0;

    h3 {
      display: inline;
    }

    > div {
      display: inline;
    }

    label.from {
      margin-left: 0.5em;
    }
  }

  div.react-datepicker-wrapper {
    margin: 0 1.5em 0 0.5em;

    input {
      margin: 0;
      padding: 0.3em 0;
      width: 7em;
      text-align: center;
    }
  }

  div.react-datepicker-popper {
    z-index: 10;
  }

  #spatial-selection:first-child {
    border: 2px solid;
    margin: 0;
    padding: 0;
  }

  .help-text {
    display: inline;
    line-height: 1.2em;

    span,
    section {
      font-size: 80%;
      padding: 0 0 1em 1.2em;
    }

    section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));

      img {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        padding: 2px;
        margin: 0 2px;
      }
    }

    ul {
      margin: 0 0 0 1.2em;
      padding: 0;
    }

    kbd {
      border-radius: 3px;
      padding: 0 2px 0;
      border: 1px solid black;
    }
  }

  .script-button,
  .submit-button {
    margin: 0.5em 0.8em;

    &:disabled {
      background: silver;
    }
  }

  #toolbar {
    position: absolute;
    right: 0;
    margin: 5px;
    height: auto;
    line-height: 1em;
    z-index: 2;

    img {
      padding: inherit;
      background: inherit;
      border: none;
      margin: auto;
      margin-top: 2px;
      display: block;

      &:hover {
        border-color: inherit;
        box-shadow: none;
      }
    }

    .tooltip.button img {
      padding: 3px;
    }
  }

  .granule-count-container {
    color: #474747;
    display: inline;
    font-weight: bold;
  }

  #granule-list-count-header {
    color: #474747;
    padding: 0;
  }

  #granule-list-container {
    height: 700px;
    overflow: auto;
    width: 100%;
  }

  #granule-table {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 0;
    font-size: 95%;

    td,
    th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: left;
      word-wrap: break-word;
    }

    th {
      color: white;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 9;
      border-top: 2px;
      background: #7ab5da; /* EUI Sky Blue */
    }

    tr {
      &:nth-child(odd) {
        background: #ebebeb; /* EUI Light Gray */
      }

      &:hover {
        background: #b5cede; /* EUI Medium Blue */
      }
    }
  }

  /* Should we be adding to this toolbar? */
  .cesium-viewer-toolbar {
    height: 5em;
    width: 5em;
  }

  /* Get rid of annoying white gap at bottom of canvas */
  #globe {
    position: relative;

    #credit {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
    }

    .cesium-widget {
      height: 600px;
    }

    .cesium-viewer-bottom {
      padding: 0.5em;
    }

    .cesium-credit-logoContainer * {
      display: none;
    }

    input {
      position: absolute;
      left: 0;
      width: 120px;
      margin: 5px;
      height: auto;
      padding: 3px;
      line-height: 1em;
      font-size: 90%;
      z-index: 2;
      border-width: 1;
      border-radius: 4px;
      background-color: white;
      border-color: chartreuse;
    }

    input:focus {
      outline-color: chartreuse;
    }

    input:disabled {
      background-color: lightgray;
      border-color: black;
    }
  }

  .granule-id-col {
    width: 50%;
  }

  .size-col {
    width: 10%;
  }

  .start-time-col {
    width: 20%;
  }

  .end-time-col {
    width: 20%;
  }

  &-profile {
    #profile-container {
      display: flex;
    }

    #order-list {
      background-color: #e9e9e9;
      flex-shrink: 0;
      width: 150px;

      .order-list-item {
        padding: 5px;
        cursor: pointer;
      }

      .order-list-item-selected {
        background-color: silver;
      }
    }

    #order-details {
      padding-left: 40px;
    }
  }

  .cursor-crosshair {
    cursor: crosshair;
  }

  #version {
    font-size: 60%;
    padding: 0.5em 0;
  }

  #cmr-status {
    background: red;
    color: white;
    position: absolute;
    width: calc(100% - 2em);
    padding: 1em;
    z-index: 1001;
  }

  #cmr-status-close {
    cursor: pointer;
    float: right;
  }

  #cmr-status-msg {
    position: absolute;
    width: calc(100% - 4em);
    top: 50%;
    transform: translateY(-50%);
  }

  #cmr-status-blocked {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1000;
  }

  /* Tooltip adapted from: http://www.menucool.com/tooltip/css-tooltip */
  div.tooltip {
    outline: none;

    > span {
      z-index: 10;
      display: none;
      padding: 0.7em;
      margin-top: -12px;
      margin-left: 20px;
      width: auto;
      line-height: 1.2em;
      border-radius: 4px;
    }

    &:hover {
      text-decoration: none;

      > span {
        display: inline;
        position: absolute;
        color: #111;
        border: 1px solid #dca;
        background: #fffaf0;
      }

      > span.maptool {
        width: 12em;
      }
    }
  }

  .callout {
    z-index: 10;
    position: absolute;
    border: 0;
    top: 0.3em;
    left: -15px;
    padding: 5px;
  }

  #order-buttons {
    padding-right: 2px;
    text-align: right;
    padding-top: 6px;
    margin-right: -12px;

    .callout {
      bottom: -22px;
      left: 24px;
      position: absolute;
      top: unset;
      transform: rotate(270deg);
    }

    .inline {
      display: inline;
    }

    div.tooltip {
      display: inline-block;
      position: relative;

      > span {
        bottom: 64px;
        display: none;
        margin-left: 0;
        position: absolute;
        text-align: left;
        background: #000;
        color: #fff;
        line-height: 24px;

        span.must-be-logged-in {
          color: #f57e20;
          font-weight: bolder;
        }
      }

      &:hover > span {
        display: inline-block;
      }
    }
  }

  .ReactModal__Overlay {
    z-index: 11;
  }
}
