@import 'https://cdn.earthdata.nasa.gov/eui/1.1.4/stylesheets/application.css';

body {
  font-family: 'Arial';
  margin: 20px;
}

#everest-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

#left-side {
  grid-column: 1;
}

#right-side {
  grid-column: 2;
}

.dropdown {
  font-size: 100%;
  margin-bottom: 1em;
  width: 100%;
}

#temporal-selection {
  margin: 0em;
  padding: 0em;
}

#temporal-selection > div {
  display: inline;
  margin: 0em 2em 0em 0.75em;
}

.react-datepicker-wrapper input {
  width: 8em;
}

#spatial-selection {
  border: 2px solid;
  margin: 0em;
  padding: 0em;
}

.submit-button {
  margin: 5px;
}

.submit-button:disabled {
  background: silver;
}

#toolbar {
  position: absolute;
  right: 0;
  width: 36px;
  margin: 0px;
  background: white;
  height: auto;
  z-index: 2;
}

div.button {
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}

div.button:hover {
  background: #eee;
}

div.button img {
  margin: 0;
  width: 100%;
  border: none;
}

#granule-list, #order-buttons {
  margin: 0 1.0em;
}

table.granuleList {
  display: block;
  height: 600px;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: scroll;
  overflow-y: scroll;
  font-size: 80%;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

tbody tr:hover {
  background: #b5cede; /* EUI medium blue */
}

/* Should we be adding to this toolbar? */
.cesium-viewer-toolbar {
  height: 5em;
  width: 5em;
}

/* Get rid of annoying white gap at bottom of canvas */
#globe {
  position: relative;
}

#globe #credit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

#globe .cesium-widget {
  height: 600px;
}

#globe .cesium-viewer-bottom {
  padding: 0.5em;
}

#globe .cesium-credit-logoContainer {
  margin-right: 1em;
}

.granule-id-col {
  width: 40%;
}

.size-col {
  width: 10%;
}

.start-time-col {
  width: 25%;
}

.end-time-col {
  width: 25%;
}

#profile-container {
  display: flex;
}

#order-list {
  background-color: #e9e9e9;
  flex-shrink: 0;
  width: 150px;
}

#order-list .order-list-item {
  padding: 5px;
  cursor: pointer;
}

#order-list .order-list-item-selected {
  background-color: silver;
}

#order-details {
  padding-left: 40px;
}

.cursor-crosshair {
  cursor: crosshair;
}

#version {
  font-size: 8px;
}

/* Tooltip adapted from: http://www.menucool.com/tooltip/css-tooltip */
div.tooltip span {
  z-index: 10;
  display: none;
  padding: 0.5em 1em;
  margin-top: 0;
  margin-left: 15px;
  width: 14em;
  line-height: 1.5em;
  border-radius: 4px;
  box-shadow: 5px 5px 8px #CCC;
}

div.tooltip:hover span{
  display: inline;
  position: absolute;
  color: #111;
  border: 1px solid #DCA;
  background: #fffAF0;
}

img.callout {
  z-index: 20;
  position: absolute;
  border: 0;
  top: 0px;
  left: -22px;
  height: 2.5em;
  max-width: 1.5em;
  padding: 0;
}
