@import 'https://cdn.earthdata.nasa.gov/eui/1.1.4/stylesheets/application.css';

body {
  font-family: 'Arial';
  margin: 20px;
}

.modal-content {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  position: absolute;
  bottom: auto;
  left: 50%;
  right: auto;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-overflow-scrolling: touch;
}

.loading-spinner-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#everest-container > #columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#everest-container > #columns #left-side {
  grid-column: 1;
  border: none;
  padding: 0;
}

#everest-container > #columns #right-side {
  grid-column: 2;
  overflow-x: auto;
  padding: 0em 0em 0em 1em;
}

#collection-list .dropdown {
  margin: 0.5em 0em;
  width: 100%;
}

#everest-container h3 {
  font-size: 100%;
}

#everest-container #temporal-selection {
  margin: 0em;
  padding: 0em;
}

#everest-container #temporal-selection h3 {
  display: inline;
}

#temporal-selection > div {
  display: inline;
}

#temporal-selection label.from {
  margin-left: 0.5em;
}

div.react-datepicker-wrapper {
  margin: 0em 1.5em 0em 0.5em;
}

div.react-datepicker-wrapper input {
  margin: 0;
  padding: 0.3em 0;
  width: 7em;
  text-align: center;
}

#everest-container #spatial-selection:first-child {
  border: 2px solid;
  margin: 0em;
  padding: 0em;
}

#everest-container .help-text {
  display: inline;
  line-height: 1.2em;
}

#everest-container .help-text span, section {
  font-size: 90%;
  padding-left: 1.5em;
}

#everest-container .help-text section {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1.5em;
}

#everest-container .help-text section img {
  display: inline-block;
  vertical-align: middle;
  height: 29px;
}

#everest-container .help-text #left-column {
  grid-column: 1;
}

#everest-container .help-text #right-column {
  grid-column: 2;
}

#everest-container .help-text ul {
  margin: 0 0 1.5em 0;
  padding: 0;
}

.script-button {
  margin: 0.5em 0.8em;
}

.script-button:disabled {
  background: silver;
}

.submit-button {
  margin: 0.5em 0.8em;
}

.submit-button:disabled {
  background: silver;
}

#toolbar {
  position: absolute;
  right: 0;
  width: 40px;
  margin: 0px;
  background: white;
  height: auto;
  line-height: 1em;
  border: solid 2px black;
  z-index: 2;
}

#toolbar > .button {
  display: inline-block;
  margin: 2px 2px 0px 2px;
  border: 1px solid #eee;
  cursor: pointer;
}

#toolbar > .button:hover {
  background: #eee;
}

#toolbar .tooltip.button img {
  padding: 3px;
}

#everest-container #granule-list {
}

#everest-container div#order-buttons {
  text-align: right;
}

table.granuleList {
  display: block;
  height: 700px;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: scroll;
  padding: 0;
  font-size: 90%;
}

table.granuleList thead th {
  color: white;
  background: #7ab5da; /* EUI Sky Blue */
}

table.granuleList td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  word-wrap: break-word;
}

table.granuleList tr:nth-child(odd) {
  background: #ebebeb; /* EUI Light Gray */
}

tbody tr:hover {
  background: #b5cede; /* EUI Medium Blue */
}

/* Should we be adding to this toolbar? */
.cesium-viewer-toolbar {
  height: 5em;
  width: 5em;
}

/* Get rid of annoying white gap at bottom of canvas */
#globe {
  position: relative;
}

#globe #credit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

#globe .cesium-widget {
  height: 600px;
}

#globe .cesium-viewer-bottom {
  padding: 0.5em;
}

#globe .cesium-credit-logoContainer {
  margin-right: 1em;
}

.granule-id-col {
  width: 50%;
}

.size-col {
  width: 10%;
}

.start-time-col {
  width: 20%;
}

.end-time-col {
  width: 20%;
}

#profile-container {
  display: flex;
}

#order-list {
  background-color: #e9e9e9;
  flex-shrink: 0;
  width: 150px;
}

#order-list .order-list-item {
  padding: 5px;
  cursor: pointer;
}

#order-list .order-list-item-selected {
  background-color: silver;
}

#order-details {
  padding-left: 40px;
}

.cursor-crosshair {
  cursor: crosshair;
}

#everest-container #version {
  font-size: 60%;
  padding: 0.5em 0;
}

#cmr-status {
  background: red;
  color: white;
  position: absolute;
  width: 100%;
}

/* Tooltip adapted from: http://www.menucool.com/tooltip/css-tooltip */
div.tooltip {outline:none;}
div.tooltip:hover {text-decoration:none;}
div.tooltip > span {
  z-index:10;
  display:none;
  padding:14px 20px;
  margin-top:-12px;
  margin-left:20px;
  width:170px;
  line-height:16px;
  border-radius:4px;
  box-shadow: 5px 5px 8px #CCC;
}
div.tooltip:hover > span {
  display:inline;
  position:absolute;
  color:#111;
  border:1px solid #DCA;
  background:#fffAF0;}
.callout {
  z-index:10;
  position:absolute;
  border:0;
  top: 12px;
  left:-12px;
}

#order-buttons .callout {
  bottom: -17px;
  left: 24px;
  position: absolute;
  top: unset;
  transform: rotate(270deg);
}

#order-buttons .inline {
  display: inline;
}

#order-buttons .tooltip > span {
  bottom: 100px;
  display: none;
  margin-left: 0px;
}

#order-buttons .tooltip:hover > span {
  display: inline-block;
}

#order-buttons div.tooltip span.must-be-logged-in {
  color: green;
  font-style: italic;
}

.ReactModal__Overlay {
    z-index: 11;
}
