body {
    font-family: 'Arial';
    margin: 20px;
}

#globe {
    width: 800px;
    height: 600px;
    border: 2px solid;
}

#toolbar {
    position: absolute;
    top: 40px;
    left: 15px;
    display: inline;
    margin: 10px;
    padding: 0px 5px;
    background: white;
    z-index: 1000;
}

.dropdown {
    width: 800px;
    font-size: 18px;
}

table {
    display: block;
    border-collapse: collapse;
    table-layout: auto;
    height: 500px;
    width: 800px;
    overflow-y: scroll;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

thead {
    background: steelblue;
    color: white;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

tbody tr:hover {
    background: #d7e4ef;
}
