body {
    font-family: 'Arial';
    margin: 20px;
}

#collections {
    width: auto;
}

#globe {
    width: auto;
    height: auto;
    border: 2px solid;
    margin: 0em;
    padding: 0em;
}

#toolbar {
    position: absolute;
    top: 3.5em;
    left: 2em;
    display: block;
    margin: 0px;
    padding: 5px;
    background: white;
    width: auto;
    height: auto;
    z-index: 1000;
}

#temporal-filter {
    margin: 1em;
}

#submit-container {
    margin: 1em;
}

.dropdown {
    width: 800px;
    font-size: 18px;
}

table {
    display: block;
    border-collapse: collapse;
    table-layout: auto;
    height: 500px;
    width: 800px;
    overflow-y: scroll;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

thead {
    background: steelblue;
    color: white;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

tbody tr:hover {
    background: #d7e4ef;
}

/* Should we be adding to this toolbar? */
.cesium-viewer-toolbar {
    height: 5em;
    width: 5em;
}

/* Get rid of annoying white gap at bottom of canvas */
#globe .cesium-widget {
    height: 730px;
}

#globe .cesium-viewer-bottom {
    padding: 0.5em;
}

#globe .cesium-credit-logoContainer {
    margin-right: 1em;
}
