body {
  font-family: 'Arial';
  margin: 20px;
}

#everest-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3;
}

.dropdown {
  font-size: 18px;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 1em;
}

#selectors {
  grid-row: 2;
  grid-column: 1;
}

#spatial-selection {
  grid-row: 3;
  grid-column: 1;
  border: 2px solid;
  margin: 0em;
  padding: 0em;
}

.temporal-filter {
  display: inline-block;
  float: left;
}

.submit-button {
  grid-row: 2;
  grid-column: 2;
  width: 120px;
  height: 2.2em;
  margin: auto;
  padding: 0.5em 1em 0.5em 1em;
  background: steelblue;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#results {
  gid-row: 3;
  grid-column: 2;
}

#toolbar {
  position: relative;
  margin: 0px;
  padding: 5px;
  background: white;
  height: auto;
}

#toolbar .button {
  display: inline-block;
}

table.granuleList {
  display: block;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: scroll;
  overflow-y: scroll;
  font-size: 14px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

thead {
  background: steelblue;
  color: white;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tbody tr:hover {
  background: #d7e4ef;
}

/* Should we be adding to this toolbar? */
.cesium-viewer-toolbar {
  height: 5em;
  width: 5em;
}

/* Get rid of annoying white gap at bottom of canvas */
#globe .cesium-widget {
  height: 730px;
}

#globe .cesium-viewer-bottom {
  padding: 0.5em;
}

#globe .cesium-credit-logoContainer {
  margin-right: 1em;
}

.granule-id-col {
  width: 40%;
}

.size-col {
  width: 10%;
}

.start-time-col {
  width: 25%;
}

.end-time-col {
  width: 25%;
}
